<nav>
  <a routerLink="">DisplayHelloWorld</a>  |
  <a routerLink="showhellobutton">Showhellobutton</a>  |
  <a routerLink="counter">Counter</a>  |
  <a routerLink="simpleform">Simpleform</a>  |
  <a routerLink="displayname">Displayname</a>  |
  <a routerLink="userage">Userage</a>  |
  <a routerLink="usergreeting">Usergreeting</a>  |
  <a routerLink="calculator">Calculator</a>  |
  <a routerLink="textlength">Textlength</a>  |
  <a routerLink="currencyconverter">Currencyconverter</a>  |


</nav>


<router-outlet></router-outlet>
